= content_for :javascript
  = javascript_include_tag("/api/chat.js?key=#{ENV["CHATTR_API_KEY"]}")
  - if user_signed_in?
    javascript:
      _chattr.identify("#{current_user.firstname}", {
        user_id: "#{current_user.id}",
        email: "#{current_user.email}",
        plan: "#{current_user.plan}"
      });
  javascript:
    _chattr.init();
